@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    width: 100%;
}

/* Desktope default */

h1,
h2 {
    font-family: Roboto Slab, sans-serif;
}


h2 {
    font-size: 55px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 24px;
}

/* Tablet */
@media screen and (min-width: 992px) and (max-width: 1279px) {
    p {
        font-size: 14px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 17px;
    }
}

/* Smatphone */
@media screen and (max-width: 991px) {
    p {
        font-size: 12px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 14px;
    }
}

/* <!-- Pasha --> */

/* ------ HEADER ------*/

.header-cinema {
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.header__sinc__img {
    width: 112px;
}

.header__online {
    display: flex;
    flex-direction: row;
    margin-top: 97px;

}

.header__globe,
.header__clock,
.header__calendar {
    display: flex;
    flex-direction: row;

}

.header__globe,
.header__clock {
    margin-right: 40px;
}

.header__globe__img,
.header__clock__img,
.header__calendar__img {
    margin-right: 8px;
}

.header__globe__span,
.header__clock__span,
.header__calendar__span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
}


h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;
    margin: 30px 0 30px 0;
}

.header__p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
}

.header-cinema__block1 {
    display: flex;
    flex-direction: row;
}

.header-cinema__block1__img {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 20%;
}

.header-cinema__block1__img1_1,
.header-cinema__block1__img1_2 {
    display: flex;
    justify-content: flex-end;
}

.header-cinema__block1__img1 {
    display: block;
    margin-top: -20px;
    margin-left: 30px;
    width: 90%;
}

.header-cinema__block1__img2 {
    display: block;
    width: 90%;
}

.header-cinema__plate {
    display: flex;
    flex-direction: column;
    padding: 25px 45px;
    background: #1E4681;
    border-radius: 5px;
    transform: rotate(-4deg);
    color: white;
    line-height: 32.5px;
    width: 45%;
    margin: 10% 0 20% 20%;
}

.header-cinema__plate__p1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
}

.header-cinema__plate__p2 {
    font-size: 20px;
    text-align: right;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1279px) {
    header {
        max-width: 990px;
    }

    .header-cinema {
        width: 100%;
    }

    .header__sinc__img {
        width: 64.87px;
    }

    .header__online {
        margin-top: 57px;
    }

    .header__globe__img1,
    .header__clock__img1,
    .header__calendar__img1 {
        width: 12.74px;
    }

    .header__globe__span,
    .header__clock__span,
    .header__calendar__span {
        font-size: 12px;
    }

    h1 {
        font-size: 46px;
    }

    .header__p {
        font-size: 12px;
    }

    .header-cinema__block1__img {
        margin-left: 100px;
    }

    .header-cinema__block1__img1 {
        margin-left: 10px;
        width: 70%;
    }

    .header-cinema__block1__img2 {
        width: 70%;
    }

    .header-cinema__plate {
        width: 32%;
        padding: 20px 20px;
        margin: 80px 0 100px 200px;
    }

    .header-cinema__plate__p1 {
        font-size: 14px;
    }

    .header-cinema__plate__p2 {
        font-size: 12px;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/

@media screen and (max-width: 991px) {
    header {
        max-width: 500px;
    }

    .header-cinema {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .header__sinc__img {
        width: 52.19px;
    }

    .header__online {
        margin-top: 45px;
    }

    .header__globe__img1,
    .header__clock__img1,
    .header__calendar__img1 {
        width: 10.25px;
    }

    .header__globe__span,
    .header__clock__span,
    .header__calendar__span {
        font-size: 10px;
    }

    h1 {
        font-size: 37px;
    }

    .header__p {
        font-size: 10px;
    }

    .header-cinema__block1 {
        flex-wrap: wrap;
    }

    .header-cinema__block1__img {
        margin-left: 40%;
    }

    .header-cinema__block1__img1 {
        max-width: 60%;
        margin-left: 10px;
    }

    .header-cinema__block1__img2 {
        max-width: 60%;
        margin-bottom: 5px;
    }

    .header-cinema__plate {
        width: 31%;
        padding: 10px 10px;
        margin: 50px auto 20% auto;
        min-width: 225px;
        min-height: 93px;
    }

    .header-cinema__plate__p1 {
        font-size: 11px;
    }

    .header-cinema__plate__p2 {
        font-size: 10px;
    }
}

/* ------END HEADER END ------*/


/* ----- MAIN -------------*/

.abot-course {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.abot-course-block1 {
    display: flex;
}

.abot-course__h2 {
    display: block;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 50px;
}

.abot-course__block-text {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.abot-course__img1 {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 15%;
}

.abot-course__text-p {
    display: block;
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

.abot-course__img-Ellipse2 {
    margin-top: -30px;
}

.abot-course__img-operator {
    margin-top: 100px;
    margin-left: 30px;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1279px) {
    main {
        max-width: 990px;
        ;
    }

    .abot-course {
        width: 100%;
    }

    .abot-course__block-text {
        width: 40%;
    }

    .abot-course__h2 {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .abot-course__text-p {
        font-size: 14px;
    }

    .abot-course__img1 {
        margin-left: 10%;
    }

    .abot-course__img-Ellipse2 {
        margin-top: -20px;
    }

    .abot-course__img-Ellipse2__child {
        display: block;
        width: 80%;
    }

    .abot-course__img-operator__child {
        display: block;
        width: 70%;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/

@media screen and (max-width: 991px) {
    main {
        max-width: 500px;
    }

    .abot-course {
        width: 100%;
    }

    .abot-course-block1 {
        flex-wrap: wrap;
    }

    .abot-course__block-text {
        width: 90%;
    }

    .abot-course__h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .abot-course__text-p {
        font-size: 12px;
    }

    .abot-course__img1 {
        margin-left: 20%;
        margin-top: -50px;
    }

    .abot-course__img-Ellipse2 {
        margin-top: -15px;
    }

    .abot-course__img-Ellipse2__child {
        width: 70%;
    }

    .abot-course__img-operator__child {
        width: 60%;
    }
}


/*---------------   end Media  ----------       */

.abot-course__block2 {
    display: flex;
}

.abot-course__img2 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 80px;
}


.abot-course__img-Ellipse3__img {
    width: 100%;
    margin-top: -20px;
}

.abot-course__img-photo_1__img {
    width: 100%;
}

.bot-course__time {
    display: flex;
    flex-direction: row;
    margin-top: 165px;
}

.bot-course__time1,
.bot-course__time2,
.bot-course__time3 {
    margin-left: 90px;
    width: 15%;
}

.bot-course__time1-p1,
.bot-course__time2-p1,
.bot-course__time3-p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
}

.bot-course__time1-p2,
.bot-course__time2-p2,
.bot-course__time3-p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}



/*  - -------------------------- MEDIA TABLET-----------------------------------------*/


@media screen and (min-width: 992px) and (max-width: 1279px) {

    .bot-course__time1,
    .bot-course__time2,
    .bot-course__time3 {
        margin-left: 50px;
    }

    .bot-course__time1-p1,
    .bot-course__time2-p1,
    .bot-course__time3-p1 {
        font-size: 15px;
    }

    .bot-course__time1-p2,
    .bot-course__time2-p2,
    .bot-course__time3-p2 {
        font-size: 11px;
    }

    .abot-course__img-Ellipse3__img {
        width: 70%;
        margin-top: -15px;
    }

    .abot-course__img-photo_1__img {
        width: 70%;
    }

}


/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/

@media screen and (max-width: 991px) {
    .abot-course__block2 {
        flex-direction: column-reverse;
    }

    .bot-course__time {
        flex-wrap: wrap;
        width: 220px;
        margin-top: 60px;
    }

    .bot-course__time1,
    .bot-course__time2,
    .bot-course__time3 {
        margin-left: 30px;
        min-width: 86px;
    }

    .bot-course__time1-p1,
    .bot-course__time2-p1,
    .bot-course__time3-p1 {
        font-size: 12px;
    }

    .bot-course__time1-p2,
    .bot-course__time2-p2,
    .bot-course__time3-p2 {
        font-size: 10px;
    }

    .bot-course__time1,
    .bot-course__time2 {
        margin-bottom: 30px;
    }

    .bot-course__time1 {
        margin-left: 0;
    }

    .bot-course__time3 {
        margin-left: 0;
    }

    .abot-course__img2_0 {
        display: flex;
        justify-content: flex-end;
    }

    .abot-course__img2 {
        max-width: 200px;
        margin-top: 0;
    }

    .abot-course__img-Ellipse3__img {
        width: 60%;
        margin-top: -10px;
    }

    .abot-course__img-photo_1__img {
        display: flex;
        justify-content: flex-end;
        width: 60%;
    }
}



/* ---- Блок lessons "Формат занятий"------*/

.lessons {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.lessons__h2 {
    display: block;
    left: 121px;
    top: 2000px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
}

.lessons__text {
    display: flex;
    margin-top: 100px;
}

.lessons__text2,
.lessons__text3 {
    margin-left: 120px;
}

.lessons__text1-p1,
.lessons__text2-p1,
.lessons__text3-p1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 130%;
    color: #1E4681;
}

.lessons__text1-p2,
.lessons__text2-p2,
.lessons__text3-p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.lessons__text1-p1,
.lessons__text2-p1,
.lessons__text3-p1 {
    margin-bottom: 10px;
}

.lessons__text1,
.lessons__text2,
.lessons__text3 {
    width: 22%;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .lessons {
        margin-top: 100px;
        width: 100%;
    }

    .lessons__h2 {
        font-size: 32px;
    }

    .lessons__text {
        margin-top: 7%;
        width: 90%;
    }

    .lessons__text2,
    .lessons__text3 {
        margin-left: 5%;
    }

    .lessons__text1-p1,
    .lessons__text2-p1,
    .lessons__text3-p1 {
        font-size: 15px;
    }

    .lessons__text1-p2,
    .lessons__text2-p2,
    .lessons__text3-p2 {
        font-size: 11px;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/

@media screen and (max-width: 991px) {
    .lessons {
        margin-top: 50px;
        width: 100%;
    }

    .lessons__h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .lessons__text {
        flex-direction: column;
        margin-top: 4%;
    }

    .lessons__text1,
    .lessons__text2,
    .lessons__text3 {
        margin-left: 0;
    }

    .lessons__text2,
    .lessons__text3 {
        margin-top: 30px;
    }

    .lessons__text1-p1,
    .lessons__text2-p1,
    .lessons__text3-p1 {
        font-size: 12px;
        min-width: 200px;
    }

    .lessons__text1-p2,
    .lessons__text2-p2,
    .lessons__text3-p2 {
        font-size: 10px;
        min-width: 200px;
    }
}

/* ----END ---"Формат занятий" ------*/
/* -------Блок learn "Что узнаем" ----*/

.learn {
    display: flex;
    margin-top: 200px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10%;
}

.learn__block3 {
    width: 55%;
}

.learn__h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-bottom: 60px;
    margin-right: 81px;
}

.learn__list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
}

.learn__block4 {
    margin-left: 5%;
}

.learn__block4_1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.learn__block4_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.learn__photo_1_1 {
    max-width: 274px;
    ;
    margin-bottom: -13px;
}

.learn__Ellipse4 {
    max-width: 290px;
}

.learn__block4_2 {
    margin-top: 130px;
}

.learn__Ellipse4__img {
    margin-right: 30px;
}

.learn__Ellipse5__img {
    margin-right: -10px;
}

.learn__Rectangle_2__img {
    margin-right: -40px;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/


@media screen and (min-width: 992px) and (max-width: 1279px) {
    .learn {
        margin-top: 150px;
        width: 100%;
    }

    .learn__h2 {
        font-size: 32px;
    }

    .learn__list {
        font-size: 14px;
        max-width: 80%;
    }

    .learn__Ellipse4__img,
    .learn__Ellipse5__img {
        max-width: 100px;
    }

    .learn__photo_1_1__img {
        max-width: 230px;
    }

    .learn__photo_2_1__img {
        max-width: 230px;
    }

    .learn__Rectangle_2__img {
        max-width: 300px;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/


@media screen and (max-width: 991px) {
    .learn {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .learn__block3 {
        width: 90%;
    }

    .learn__h2 {
        font-size: 26px;
        margin-bottom: 10%;
    }

    .learn__list {
        font-size: 12px;
        margin-left: 3%;
    }

    .learn__block4_1 {
        margin-top: -470px;
        margin-left: 40%;
        display: none;
    }

    .learn__Ellipse4__img,
    .learn__Ellipse5__img {
        width: 50%;
    }

    .learn__Ellipse4__img {
        margin-left: -80px;
    }

    .learn__photo_1_1__img {
        width: 50%;
        margin-bottom: -147px;
    }

    .learn__block4_2 {
        margin-top: 50px;
        margin-left: 10%;
        display: none;
    }

    .learn__photo_2_1__img {
        width: 50%;
    }

    .learn__Rectangle_2__img {
        width: 50%;
        margin-left: 20px;

    }

    .learn__Rectangle_2 {
        margin-top: -5px;
    }
}

/* ------- END --"Что узнаем" ----*/

/* <!-- Yulia --> */

/* ---------------- Block Program ----------------- */
.program {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}

.header-program {
    display: flex;
    flex-direction: row;
    margin-bottom: 125px;
    padding-left: 100px;
    overflow: hidden;
}

.h2-program {
    margin-left: 20px;
    padding-top: 20px;
}

.line {
    display: flex;
    position: absolute;
    left: 60%;
    right: 0;
    top: 3287px;
    width: 630px;
    height: 14px;
    background-color: black;

.cards {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: -10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: left;
}

.card {
    display: block;
    width: 30%;
    /* height: 328px; */
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 23px;
    margin-right: 21px;
}

.card:nth-of-type(3) {
    margin-right: 0;
}

.card:nth-of-type(6) {
    margin-right: 0;
}

.program-icon {
    width: 100%;
}


.text_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
    margin-top: 10px;
    padding-left: 8px;
    padding-bottom: 32px;
    height: 50%;
    box-sizing: border-box;
}

p.text_card {
    display: block;
    position: relative;
    bottom: 30px;
    position: relative;
    bottom: 20px;
    line-height: 130%;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/

@media screen and (min-width: 992px) and (max-width: 1279px) {
    .program {
        display: flex;
        width: 100%;
        max-width: 1279px;
        justify-content: center;
        text-align: center;
        overflow: hidden;
    }

    .header-program {
        display: flex;
        flex-direction: row;
        height: 70px;
        margin-bottom: 50px;
        padding-left: 60px;
        overflow: hidden;
    }

    .h2-program {
        font-size: 32px;
        line-height: 101.38%;
    }

    .line {
        display: block;
        position: absolute;
        left: 50%;
        right: 0;
        width: 630px;
        height: 14px;
        background-color: black;

    .cards {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: auto;
        margin-right: auto;
        padding-top: -10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: left;

    }

    .card {
        width: 231.09px;
        height: 189.97px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
        margin-bottom: 23px;
        margin-right: 21px;
    }

    .card:nth-of-type(3) {
        margin-right: 0;
    }

    .card:nth-of-type(6) {
        margin-right: 0;
    }

    h3.text_card {
        font-size: 17px;
        line-height: 130%;
    }

    p.text_card {
        font-size: 14px;
        line-height: 130%;
    }

    .program-icon {
        width: 231.09px;
        height: 92.67px;
    }


    .text_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 12px;
        margin-top: 10px;
        padding-left: 5px;
        padding-bottom: 25px;
        height: 50%;
        box-sizing: border-box;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/
@media screen and (max-width: 991px) {
    .program {
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .header-program {
        width: 100%;
        padding-left: 10%;
        padding-bottom: 10px;
        box-sizing: border-box;
        margin-bottom: 35px;
        display: flex;
        position: relative;
        flex-wrap: nowrap;
    }

    .h2-program {
        font-size: 26px;
        line-height: 101.38%;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }

    .line {
        display: block;
        position: absolute;
        left: 50%;
        right: 0;
        width: 630px;
        height: 14px;
        background-color: black;
    
    }

    .cards {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        box-sizing: border-box;
        /* margin-right: 40px;   */
    }

    .card {
        width: 80%;
        /* height: 152.84px; */
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .card:nth-of-type(3) {
        margin-right: auto;
        margin-left: auto;
    }

    .card:nth-of-type(6) {
        margin-right: auto;
        margin-left: auto;
    }

    .program-icon {
        width: 100%;
        /* height: 74.56px; */
    }

    .text_card {
        padding-top: 20px;
    }

    p.text_card {
        padding-top: 20px;
    }
}

/* ---------------------- END "Block Program" -------------------------- */

/* ---------------- Image Working Man ----------------- */

.working-man-container {
    display: flex;
    position: relative;
}

.working-man {
    display: flex;
    position: relative;
    width: 20%;
    left: 980px;
    bottom: 140px;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1279px) {
    .working-man-container {
        display: flex;
        position: relative;
    }

    .working-man {
        display: block;
        position: relative;
        width: 20%;
        right: 15%;
        bottom: 140px;
        left: 60%;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/
@media screen and (max-width: 991px) {
    .working-man-container {
        display: none;
    }
}

/* ------------------- END Image Working Man ----------------- */

/* -------------------- Block Autors --------------------- */

.autors-courses-main {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header-autors-course {
    display: block;
    position: relative;
    width: 95vw;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 120px;
}

.autors-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;

}

.p-info {
    display: block;
    font-size: 18px;
    line-height: 130%;
}

.autors {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    height: 485px;
}

.photo {
    width: 15vw;
    height: 15vw;
}

.autors-name {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
}

.icon-i-autors-1 {
    display: block;
    position: absolute;
    width: 42px;
    top: 41px;
    right: 75px;
}

.icon-i-autors-2 {
    display: block;
    position: absolute;
    width: 42px;
    top: 41px;
    right: 75px;
}

.autor-1 {
    display: flex;
    position: relative;
    top: 30px;
    left: 45px;
    margin-bottom: 30px;
}

.info-block-autor1 {
    display: none;
    position: relative;
    top: 45px;
    right: 22px;
    width: 399px;
    height: 274px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

.icon-i-autors-1:hover+.info-block-autor1 {
    display: block;
}

.autor-2 {
    display: flex;
    position: relative;
    top: 105px;
    left: 30px;
    margin: 0;
}

.info-block-autor2 {
    display: none;
    position: absolute;
    bottom: 487px;
    right: 17px;
    width: 399px;
    height: 379px;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}

.icon-i-autors-2:hover+.info-block-autor2 {
    display: block;
}


.described {
    margin-left: 25px;
    padding-top: 45px;
    width: 400px;
}

h3.described {
    margin-bottom: 0;
}

.p-info {
    margin-top: 12px;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1279px) {
    .autors-courses-main {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 100%;
    }

    .header-autors-course {
        display: block;
        position: relative;
        width: 95vw;
        justify-content: center;
        padding-left: 60px;
    }

    h2.autors-courses-main {
        font-size: 32px;
        line-height: 101.38%;
    }

    h3.autors-courses-main {
        font-size: 17px;
        line-height: 101.38%;
    }

    .autors-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;

    }


    .described {
        display: flex;
        position: relative;
        margin-left: 25px;
        padding-top: 45px;
        /* width: 400px; */
    }

    .p-info {
        display: block;
        font-size: 10px;
        line-height: 130%;
    }

    .autors {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        height: 460px;
    }

    .photo {
        width: 109px;
        height: 103px;
    }

    .autors-name {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 101.38%;
    }

    .icon-i-autors-1 {
        display: block;
        position: relative;
        width: 16.5px;
        top: 70%;
        right: 600px;
    }

    .icon-i-autors-2 {
        display: block;
        position: absolute;
        width: 16.5px;
        top: 0px;
        right: 75px;
    }

    .autor-1 {
        display: flex;
        position: relative;
        top: 20px;
        left: 45px;
        margin-bottom: 30px;
    }

    .info-block-autor1 {
        display: block;
        position: relative;
        top: 25px;
        right: 35px;
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: 11px;
        padding-top: 8px;
        width: 231.09px;
        height: 158.69px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
    }

    .icon-i-autors-1:hover+.info-block-autor1 {
        display: block;
    }

    .autor-2 {
        display: flex;
        position: relative;
        top: 95px;
        left: 30px;
        margin: 0;
    }

    .info-block-autor2 {
        display: block;
        position: absolute;
        bottom: 487px;
        right: 17px;
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        width: 231.09px;
        height: 219.5px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
    }

    .icon-i-autors-2:hover+.info-block-autor2 {
        display: block;
    }



    h3.described {
        margin-bottom: 0;
    }

    .p-info {
        margin-top: 12px;
        font-size: 10px;
        line-height: 130%;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/
@media screen and (max-width: 991px) {
    .autors-courses-main {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        width: 100%;
        height: auto;
    }

    .header-autors-course {
        display: block;
        position: static;
        width: 95vw;
        height: auto;
        justify-content: left;
        padding-left: 50px;
    }

    .autors-block {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
        height: auto;

    }

    .p-info {
        display: block;
        font-size: 10px;
        line-height: 130%;
        height: auto;
    }

    .autors {
        display: flex;
        position: static;
        height: auto;
        flex-direction: column;
        justify-content: left;
    }

    .photo {
        display: block;
        position: static;
        left: 0;
    }

    .autors-name {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 101.38%;
    }

    .icon-i-autors-1 {
        display: none;
    }

    .icon-i-autors-2 {
        display: none;
    }

    .autor-1 {
        display: flex;
        position: static;
        margin-bottom: 30px;
        height: auto;
    }

    .info-block-autor1 {
        display: block;
        justify-content: left;
        box-sizing: border-box;
        background: 0;
        box-shadow: 0 0 0 0;
        border-radius: 0;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
        position: static;
        top: 45px;
        right: 22px;
        width: 100%;
        height: auto;
    }


    .autor-2 {
        display: flex;
        margin: 0;
    }

    .info-block-autor2 {
        display: block;
        position: static;
        height: auto;
        background: 0;
        box-sizing: border-box;
        box-shadow: 0 0 0;
        border-radius: 0;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 10px;
    }

    .described {
        margin-left: 25px;
        padding-top: 45px;
        /* width: 400px; */
    }

    h3.described {
        margin-bottom: 0;
    }

    .p-info {
        margin-top: 12px;
    }
}

/* -------------------- END "Block Autors" --------------------- */

/* -------------------- Clients ------------------------ */


.clients-main {
    background: #EFEFEF;
    padding-left: 122px;
    padding-top: 58px;
    width: 100vw;
    width: 834px;
    height: 780px;
    box-sizing: border-box;
}

.br-clients-header-for-mobile {
    display: none;
}

.client-card {
    width: 791px;
    height: 451px;
    box-sizing: border-box;
    margin-bottom: 111px;
    margin-top: 60px;
    padding-top: 43px;
    padding-left: 46px;
    padding-right: 46px;
    background: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
}

.text_courses {
    display: block;
}

.text-courses-card {
    font-size: 20px;
    line-height: 150%;
}

.image-name-course {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.image-woman {
    display: block;
    position: relative;
    top: 20px;
    right: 20px;
    width: 190px;
    height: 169px;
}

.name-course {
    display: block;
    position: relative;
    left: -10px;
    flex-direction: column;
    margin-left: 25px;
    margin-top: 58px;
}

.name-clients-course {
    font-family: Roboto Slab, sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
}

.fb-icon-course {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
}

/*  - -------------------------- MEDIA TABLET-----------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1279px) {

    .clients-main {
        background: #EFEFEF;
        padding-left: 71px;
        padding-top: 40px;
        width: 100vw;
        height: 452px;
        box-sizing: border-box;
    }

    .br-clients-header-for-mobile {
        display: none;
    }

    .client-card {
        width: 458.12px;
        height: 261.2px;
        box-sizing: border-box;
        margin-bottom: 111px;
        margin-top: 30px;
        padding-top: 23px;
        padding-left: 26px;
        padding-right: 26px;
        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;
    }

    .text_courses {
        display: block;
    }

    .text-courses-card {
        font-size: 12px;
        line-height: 150%;
    }

    .image-name-course {
        display: flex;
        flex-direction: row;
        margin-top: 12px;
    }

    .image-woman {
        display: block;
        position: relative;
        top: 5px;
        right: 10px;
        width: 110.04px;
        height: 97.88px;
    }

    .name-course {
        display: block;
        position: relative;
        left: -10px;
        flex-direction: column;
        margin-left: 25px;
        margin-top: 50px;
    }

    .name-clients-course {
        font-family: Roboto Slab, sans-serif;
        font-weight: bold;
        font-size: 17px;
        line-height: 101.38%
    }

    .fb-icon-course {
        display: block;
        width: 18.53px;
        height: 17.95px;
        position: absolute;
        top: 25px;
        left: 0;
    }
}

/*  - -------------------------- MEDIA MOBILE-----------------------------------------*/
@media screen and (min-width: 320px) and (max-width: 991px) {


    .clients-main {
        display: flex;
        flex-direction: column;
        background: #EFEFEF;
        padding-top: 42px;
        padding-left: 0;
        width: 100%;
        height: 423px;
        box-sizing: border-box;
    }

    .br-clients-header-for-mobile {
        display: block;
    }

    .h2-clients-main {
        display: block;
        flex-direction: column;
        margin-left: 50px;

        padding-left: 70px;
        padding-right: 20px;
        font-size: 26px;
        line-height: 101.38%;
    }

    .client-card {
        width: 308px;
        height: 248px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 32px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    }

    .text_courses {
        display: block;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-left: 21px;
        padding-right: 21px;
    }

    .text-courses-card {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 150%;
    }

    .image-name-course {
        display: flex;
        position: relative;
        flex-direction: row;
        margin-top: 5px;
    }

    .image-woman {
        width: 80px;
        height: 75px;
        box-sizing: border-box;
        display: block;
        position: relative;
        top: 5px;
        right: 10px;
    }

    .name-course {
        display: block;
        position: relative;
        left: -10px;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 58px;
    }

    .name-clients-course {
        display: block;
        position: relative;
        bottom: 30px;
        font-family: Roboto Slab, sans-serif;
        font-size: 14px;
        line-height: 101.38%;
    }

    .fb-icon-course {
        display: block;
        position: relative;
        top: -20px;
        left: 0;
        width: 14.91px;
        height: 17.2px;
    }

}

/* -------------------- END "Block Clients" --------------------- */

/* <!-- Shamil --> */